# ===================================================================
# Файлы, генерируемые операционной системой macOS
# ===================================================================

# Самый главный файл — хранит кастомные настройки папок (вид иконок, фон)
.DS_Store

# Ресурсные форки (метаданные), которые создаются на некоторых файловых системах (например, FAT32)
._*

# Файлы, создаваемые при архивации на macOS. Содержат метаданные.
__MACOSX

# Кэши индексации поиска Spotlight
.Spotlight-V100

# Логи событий файловой системы
.fseventsd

# Корзина
.Trashes

# Временные файлы и папки
.TemporaryItems
Network Trash Folder
Temporary Items

# Иконка кастомной папки
Icon?